* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #242329;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    border: 2px solid #34fe5c;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    box-shadow: -15px 17px 17px rgb(10, 10, 10, 0.15);
}


.container .box nav {
    width: 95%;
    height: 7%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 20px;
}

.container .box nav ul {
    display: flex;
}

.container .box nav ul li {
    list-style: none;
    padding: 20px;
}

.container .box nav ul li a {
    color: gold;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.container .box nav ul li a:hover {
    color: #6f34fe;
}

.container .box nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: -6px;
    position: absolute;
    background-color: #34fe5c;
    transition: 0.5s;
}

.container .box nav ul li a:hover::after {
    width: 100%;
}

.container .box nav a {
    color: gold;
    font-size: 30px;
    text-decoration: none;
}


.container .contains {
    width: 100%;
    padding-left: 80px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .contains .section-1 {
    width: 40%;
}

.container .contains .section-1 h1 {
    font-size: 50px;
    color: goldenrod;
    margin-bottom: 20px;
    font-weight: 700;
}

.container .contains .section-1 h3 {
    color: #34fe5c;
    font-size: 30px;
}

.container .contains .section-1 p {
    font-size: 25px;
    color: gold;
    margin-bottom: 50px;
}

.container .contains .section-1 .btn {
    padding: 15px 20px;
    text-decoration: none;
    background-color: #34fe5c;
    color: black;
    border: 1px solid #34fe5c;
    border-radius: 2px;
    transition: 0.5s;
}

.container .contains .section-1 .btn:hover {
    background-color: black;
    color: #34fe5c;
}


.container .contains .section-2 {
    width: 40%;
    margin-right: 50px;
}

.container .contains .section-2 img {
    width: 100%;
}


.container .contains .section-3 {
    position: absolute;
    left: 10px;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
body {
     background-color: #242329;
}
.container .contains .section-3 a i {
    font-size: 25px;
    color: #7c8db1;
    transition: 0.3s;
}

.container .contains .section-3 a i:hover {
    color: #6f34fe;
}




@media (max-width: 768px) {
    .container .box {
        width: 90%;
    }

    .container .contains {
        padding-left: 20px;
    }

    .container .contains .section-1 h1 {
        font-size: 40px;
    }

    .container .contains .section-1 p {
        font-size: 18px;
    }
}


@media (max-width: 600px) {
        .container .contains .section-1 h1 {
        font-size: 26px;
    }
.container .box nav a {
    color: gold;
    font-size: 20px;
    margin-left: -6%;
    text-decoration: none;
}

.container .box nav ul li {
    list-style: none;
    padding: 5px;
}

    .container {
        height: auto;
        padding: 40px 0;
    }

    .container .box {
        height: auto;
        padding-bottom: 40px;
    }

    .container .contains {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
    }

    .container .contains .section-1,
    .container .contains .section-2 {
        width: 90%;
        margin: 10px auto;
    }

    .container .contains .section-2 img {
        width: 60%;
    }

    .container .contains .section-1 p {
        font-size: 16px;
    }

    nav ul li {
        padding: 10px;
    }

    nav ul li a {
        font-size: 14px;
    }
}


@media (max-width: 320px) {
    .container .contains .section-1 h1 {
        font-size: 26px;
    }
.container .box nav a {
    color: gold;
    font-size: 10px;
    text-decoration: none;
}
    .container .contains .section-1 h3 {
        font-size: 14px;
    }

    .container .contains .section-1 p {
        font-size: 12px;
    }

    .container .contains .section-2 img {
        width: 75%;
    }
    .container .contains .section-1 h1 {
        font-size: 26px;
    }
.container .box nav a {
    color: gold;
    font-size: 20px;
    margin-left: -6%;
    text-decoration: none;
}

.container .box nav ul li {
    list-style: none;
    padding: 5px;
}

    nav ul li a {
        font-size: 12px;
    }
}






@media (max-width: 340px) {
    .container .contains .section-1 h1 {
        font-size: 26px;
    }
.container .box nav a {
    color: gold;
    font-size: 20px;
    margin-left: -6%;
    text-decoration: none;
}

.container .box nav ul li {
    list-style: none;
    padding: 7px;
}

.container .box nav ul li a {
    color: gold;
    font-size: 12px;
    text-decoration: none;
    position: relative;
}
.container .box {
    width: 95%;
}
    nav {
        left: -1%;
    }


    .container .contains .section-1 h3 {
        font-size: 14px;
    }

    .container .contains .section-1 p {
        font-size: 12px;
    }

    .container .contains .section-2 img {
        width: 75%;
    }

    nav ul li a {
        font-size: 12px;
    }
}

